.ng-simple-dropdown-list {
  display: none;
}

.ng-simple-dropdown-list.display {
  display: block;
}

.ng-simple-dropdown-list.transparent {
  opacity: 0;
}

.ng-simple-dropdown-list-wrapper {
  position: relative;
}

.ng-simple-dropdown-list-wrapper.cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}
